.App {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .pokedex-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}